<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/CssInicio.css}">
    <title>Início</title>
</head>

<body>

    <header class="menu">
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/registro}">Cadastre-se</a>
    </header>

    <div class="meio">
        <main>
            <h2>INFORMAÇÕES DO SITE</h2>
            <p>
                LOREM IPSUM BESTÃO
            </p>
        </main>
    </div>

    <div class="rodape">
        <p>
            Kaio Andrião Dalfior &copy; Todos os direitos reservados
        </p>
    </div>

</body>

</html>